<div class="container mx-auto" style="height: 90px;">
<center><h1><b>Contact US</b></h1></center>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-sm border rounded container mx-auto" style="height: 100px;">
            <center><?php echo $this->Html->image('phone-actions-ring.png', array('alt' => '')); ?><br>
            <h4>(021) 290 931 27</h4></center>
        </div>
        <div class="col-sm">
            <center><?php echo $this->Html->image('send-email-2.png', array('alt' => '')); ?><br>
            <h4>cs@pelangi.co.id</h4></center>
        </div>
        <div class="col-sm">
            <center><?php echo $this->Html->image('maps-pin.png', array('alt' => '')); ?><br>
            <h4>Block A-8, Easton Commercial Park, Lippo Cikarang, Bekasi, Indonesia, 17550</h4></center>
        </div>
    </div>
</div> -->

<div class="row mx-md-n5">
    <div class="col px-md-5">
        <div class="p-3">
            <center><?php echo $this->Html->image('phone-actions-ring.png', array('alt' => '')); ?>
            <h3><br>(021) 290 931 27</h3></center>
        </div>
    </div>
    <div class="col px-md-5">
    <div class="p-3"> 
            <center><?php echo $this->Html->image('send-email-2.png', array('alt' => '')); ?>
            <h3><br>cs@pelangi.co.id</h3></center>
        </div>
    </div>
    <div class="col px-md-5">
        <div class="p-3">
            <center><?php echo $this->Html->image('maps-pin.png', array('alt' => '')); ?>
            <p><b><br>Block A-8, Easton Commercial Park, Lippo Cikarang, Bekasi, Indonesia, 17550</b></p></center>
        </div>
    </div>
</div>