<div class="container text-center">
	<h3><b>Files List</b></h3>
	<br>
	
	<a href="<?php
	echo Router::url('/app/webroot/files/Technical Specifications Pelangi API v2.1.13 (ID).doc', true)
	?>">Technical Specifications Pelangi API v2.1.13 (Bahasa Indonesia)</a>
	<br>
	<a href="<?php
	echo Router::url('/app/webroot/files/Technical Specifications Pelangi API v2.1.13 (EN).doc', true)
	?>">Technical Specifications Pelangi API v2.1.13 (English)</a>
</div>