<?php #echo $form->select('product_id',$products); ?>
<?php #print_r($products); ?>
<select id="cboProduk" name='data[product_id]'>
	<option style="color:red" value="kosong">--PILIH PRODUK--</option>

	<?php if ((strpos($this->Session->read("Auth.User.username"),"plg")!==FALSE && $this->Session->read("Auth.User.group_id")==8 )   && $productbycategory[0]['Products']['id'] ==80){ ?>
		<option value="367">TOKEN PLN PREPAID</option>
		<option value="368">PLN POSTPAID </option>
		<option value="369">NONTAGLIST </option>
		<option value="369">NONTAGLIST </option>

	<?php } else if (strpos($this->Session->read("Auth.User.username"),"sca")!==FALSE  && $productbycategory[0]['Products']['id'] ==80){ ?>
		<option value="385">TOKEN PLN PREPAID</option>
		<option value="386">PLN POSTPAID </option>
		<option value="387">NONTAGLIST </option>

	<?php } else if (strpos($this->Session->read("Auth.User.username"),"sca")!==TRUE  && $productbycategory[0]['Products']['id'] ==80){ ?>
		<option value="80">TOKEN PLN PREPAID</option>
		<option value="100">PLN POSTPAID </option>
		<option value="105">NONTAGLIST </option>

	<?php } else {
		foreach ($productbycategory as $prodcat):
			if($prodcat['Products']['id']==346){}else{ ?>		
		<option value="<?php echo ($prodcat['Products']['id']); ?>"><?php echo ($prodcat["Products"]["description"]); ?> </option>
	<?php }
	endforeach;
	} ?>
	</select>


	<!-- ADDON POSFIN -->
	<br>
	<br>
	<select id="cboNominal" style="display: none" width="100%">
		<option value="0">--PILIH DEMON--</option>
		<option value="20000">20.000</option>
		<option value="50000">50.000</option>
		<option value="100000">100.000</option>
		<option value="200000">200.000</option>
		<option value="500000">500.000</option>
		<option value="1000000">1.000.000</option> 
		<option value="5000000">5.000.000</option>
		<option value="10000000">10.000.000</option>
	</select>
	<!-- ADDON POSFIN -->

	<script>
		$(document).ready(function() {
			$("#cboProduk").change(function(event){  
				$.post('<?= $this->Html->url("/Transactions/index") ?>',
					{idproduk:$('#cboProduk').val()}
					);
// <!-- ADDON POSFIN -->
				if ($(this).val()==80){
					// alert("prepaid function");
					$("#cboNominal").css("display", "block");
				}else{
					$("#cboNominal").css("display", "none");
				}
// <!-- ADDON POSFIN -->
			});
		});
	</script>






